<a href="https://colab.research.google.com/github/rtomazini42/scriptsAleatoriosPy/blob/master/AIAUFRPELC_Renan_Tomazini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Questão 1
Bases de dados Investigadas:
1. Iris
2. Breast Cancer
3. Car Evaluation


Comparar os algoritmos kNN, Árvores de Decisão, Naive Bayes e Redes Neurais MLP
para cada uma dessas bases de dados.

KNN -> 1;3;5;7

MLP -> 5;10;20
MLP_taxaAprendizagem -> 0.1; 0.9; 0.001
MLP_epocas -> 100; 50; 10







| Base de dados | k | Acerto treinamento | Acerto validação |
|--- |--- |--- |--- |
| iris | 1 | x | x |
| iris | 3 | x | x |
| iris | 5 | x | x |
| iris | 7 | x | x |


##  teste

• Cada algoritmo tem seus próprios parâmetros e esses devem ser ajustados de
acordo com a base de dados.
• A base de dados deve ser dividida em 50% para treinamento, 25% para
validação e 25% para teste.
• A separação dos dados deve ser feita de maneira estratificada.
• Os parâmetros devem ser ajustados utilizando uma busca em grid (grid search)
considerando os conjuntos de treinamento e validação visando a obtenção da
maior (taxa de acerto/acurácia) no conjunto de validação.
• Os parâmetros que resultaram nos melhores desempenhos para validação devem
então ser aplicados no conjunto de teste para se apresentar os resultados reais do
desempenho (taxa de acerto/acurácia) do classificador.
• Os melhores parâmetros devem ser aplicados a 5 ten folds cross validantions
com bases embaralhadas em cada um deles e o resultado (média dos 5 tem folds)
apresentado no final.
• Criar uma nova tabela apresentando o recall de cada classe para os mesmos
experimentos realizados. Dividir a base inteira em 50% treinamento e 50%

teste, escolher a configuração de parâmetros do tem fold cross validation.
[implementar o cálculo do recall]

### Importando libs

In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy

## Importando Dataset Iris

In [3]:
import pandas as pd
nomes = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']
df = pd.read_csv('iris.data', names = nomes)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

# KNN para IRIS

### Treinando o modelo KNN :
Com KNeighborsClassifier, mudando o K para preencher a tabela

### Avaliação de desempenho:
cv divide em amostras aleatorias, 50% para treino 50% para validação cruzada

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)
kValores = [1,3,5,7]

resultados= {
'base de dados': [],
'K':[],
'score teste':[],
'score validacao' :[]
}


for k in kValores:
    
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    scores_dt = cross_val_score(knn, X, y, scoring='accuracy', cv=5)
    y_pred = knn.predict(X_test)
    resultados['base de dados'].append('iris')
    resultados['K'].append(k)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

  base de dados  K  score teste  score validacao
0          iris  1     0.947368         0.960000
1          iris  3     0.973684         0.966667
2          iris  5     0.973684         0.973333
3          iris  7     0.947368         0.980000

# Árvore de decisão para Iris

In [63]:
import matplotlib.pyplot as plt
nomes = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']
df = pd.read_csv('iris.data', names = nomes)
#print(df)
#Class = {'Iris-setosa':0,'Iris-versicolor':1, 'Iris-virginica':2}
#df['Class'] = df['Class'].map(Class)
X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)

#classificacao = ['Iris-setosa','Iris-versicolor','Iris-virginica']
from sklearn import tree
#from sklearn.tree import DecisionTreeRegressor 
  
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
#clf.predict([[2., 2.,2.,2.]])

#plt.figure(figsize=(12,12))  # set plot size (denoted in inches)
#tree.plot_tree(clf, fontsize=10,feature_names=y)

#feature_names=nomes



resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('iris')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

  base de dados  score teste  score validacao
0          iris     0.973684             0.96

# Naive Bayes para Iris

In [67]:
from sklearn.naive_bayes import GaussianNB
nomes = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']
df = pd.read_csv('iris.data', names = nomes)
#print(df)
#Class = {'Iris-setosa':0,'Iris-versicolor':1, 'Iris-virginica':2}
#df['Class'] = df['Class'].map(Class)
X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)

gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(gnb, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('iris')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

  base de dados  score teste  score validacao
0          iris     0.973684         0.953333

# Redes Neurais MLP para Iris

In [75]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
nomes = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']
df = pd.read_csv('iris.data', names = nomes)
#print(df)
#Class = {'Iris-setosa':0,'Iris-versicolor':1, 'Iris-virginica':2}
#df['Class'] = df['Class'].map(Class)
X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)


#learning_rate_init = taca
#max_iter =epoca


resultados= {
'base de dados': [],
'TaxaDeAprendizado':[],
'epocas':[],
'score teste':[],
'score validacao' :[]
}

taxaDeAprendizado = [0.1, 0.9, 0.001]
epocas = [300,100, 50, 10]

for i in taxaDeAprendizado:
  for e in epocas:
    clf = MLPClassifier(random_state=None, max_iter=e, learning_rate_init = i).fit(X_train, y_train)
    scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
    y_pred = clf.predict(X_test)
    resultados['base de dados'].append('iris')
    resultados['TaxaDeAprendizado'].append(i)
    resultados['epocas'].append(e)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

   base de dados  TaxaDeAprendizado  epocas  score teste  score validacao
0           iris              0.100     300     0.947368         0.966667
1           iris              0.100     100     0.947368         0.973333
2           iris              0.100      50     0.947368         0.973333
3           iris              0.100      10     0.789474         0.686667
4           iris              0.900     300     0.210526         0.333333
5           iris              0.900     100     0.210526         0.333333
6           iris              0.900      50     0.473684         0.400000
7           iris              0.900      10     0.210526         0.353333
8           iris              0.001     300     0.947368         0.973333
9           iris              0.001     100     0.921053         0.906667
10          iris              0.001      50     0.210526         0.820000
11          iris              0.001      10     0.315789         0.466667

# KNN para Breast-Cancer

> Bloco com recuo

Normalizando dados:

In [ ]:
nomes = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
df = pd.read_csv('breast-cancer.data', names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

Class = {'recurrence-events':1, 'no-recurrence-events':0}
idade = {'20-29':0, '30-39':1, '40-49':2, '50-59':3, '60-69':4, '70-79':5}
menopausa = {'premeno':0 ,'ge40':1 ,'lt40':2}
tamanho = {'0-4':0, '5-9':1,'10-14':2, '15-19':3, '20-24':4, '25-29':5, '30-34':6, '35-39':7, '40-44':8, '45-49':9,  '50-54':10}
nodulos = {'0-2':0, '3-5':1 ,'6-8':2, '9-11':3 ,'12-14':4 ,'15-17':5 , '24-26':6}
nodeCaps = {'no':0 ,'yes':1 ,'?':2}
mama = {'left':0, 'right':1}
local = {'left_low':0, 'right_up':1, 'left_up':2, 'right_low':3, 'central':4, '?':5}
iradiado = {'no':0, 'yes':1}
df['Class'] = df['Class'].map(Class)
df['age'] = df['age'].map(idade)
df['menopause'] = df['menopause'].map(menopausa)
df['tumor-size'] = df['tumor-size'].map(tamanho)
df['inv-nodes'] = df['inv-nodes'].map(nodulos)
df['node-caps'] = df['node-caps'].map(nodeCaps)
df['breast'] = df['breast'].map(mama)
df['breast-quad'] = df['breast-quad'].map(local)
df['irradiat'] = df['irradiat'].map(iradiado)



df

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,1,0,6,0,0,3,0,0,0
1,0,2,0,4,0,0,2,1,1,0
2,0,2,0,4,0,0,2,0,0,0
3,0,4,1,3,0,0,2,1,2,0
4,0,2,0,0,0,0,2,1,3,0
...,...,...,...,...,...,...,...,...,...,...
281,1,1,0,6,0,0,2,0,2,0
282,1,1,0,4,0,0,3,0,2,1
283,1,4,1,4,0,0,1,1,2,0
284,1,2,1,6,1,0,3,0,0,0
285,1,3,1,6,1,0,3,0,0,0

### validação,treinamento e tabela resultado

In [ ]:
df


X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)
kValores = [1,3,5,7]

resultados= {
'base de dados': [],
'K':[],
'score teste':[],
'score validacao' :[]
}


for k in kValores:
    
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    scores_dt = cross_val_score(knn, X, y, scoring='accuracy', cv=4)
    y_pred = knn.predict(X_test)
    resultados['base de dados'].append('Breast-Cancer')
    resultados['K'].append(k)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

   base de dados  K  score teste  score validacao
0  Breast-Cancer  1     0.638889         0.660749
1  Breast-Cancer  3     0.638889         0.685055
2  Breast-Cancer  5     0.750000         0.681387
3  Breast-Cancer  7     0.694444         0.706035

# Árvore de decisão para Breast-Cancer

In [82]:
nomes = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
df = pd.read_csv('breast-cancer.data', names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

Class = {'recurrence-events':1, 'no-recurrence-events':0}
idade = {'20-29':0, '30-39':1, '40-49':2, '50-59':3, '60-69':4, '70-79':5}
menopausa = {'premeno':0 ,'ge40':1 ,'lt40':2}
tamanho = {'0-4':0, '5-9':1,'10-14':2, '15-19':3, '20-24':4, '25-29':5, '30-34':6, '35-39':7, '40-44':8, '45-49':9,  '50-54':10}
nodulos = {'0-2':0, '3-5':1 ,'6-8':2, '9-11':3 ,'12-14':4 ,'15-17':5 , '24-26':6}
nodeCaps = {'no':0 ,'yes':1 ,'?':2}
mama = {'left':0, 'right':1}
local = {'left_low':0, 'right_up':1, 'left_up':2, 'right_low':3, 'central':4, '?':5}
iradiado = {'no':0, 'yes':1}
df['Class'] = df['Class'].map(Class)
df['age'] = df['age'].map(idade)
df['menopause'] = df['menopause'].map(menopausa)
df['tumor-size'] = df['tumor-size'].map(tamanho)
df['inv-nodes'] = df['inv-nodes'].map(nodulos)
df['node-caps'] = df['node-caps'].map(nodeCaps)
df['breast'] = df['breast'].map(mama)
df['breast-quad'] = df['breast-quad'].map(local)
df['irradiat'] = df['irradiat'].map(iradiado)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)


from sklearn import tree

  
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)




resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('breast cancer')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

   base de dados  score teste  score validacao
0  breast cancer     0.597222         0.615426

# Naive Bayes para Breast Cancer

In [84]:
nomes = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
df = pd.read_csv('breast-cancer.data', names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

Class = {'recurrence-events':1, 'no-recurrence-events':0}
idade = {'20-29':0, '30-39':1, '40-49':2, '50-59':3, '60-69':4, '70-79':5}
menopausa = {'premeno':0 ,'ge40':1 ,'lt40':2}
tamanho = {'0-4':0, '5-9':1,'10-14':2, '15-19':3, '20-24':4, '25-29':5, '30-34':6, '35-39':7, '40-44':8, '45-49':9,  '50-54':10}
nodulos = {'0-2':0, '3-5':1 ,'6-8':2, '9-11':3 ,'12-14':4 ,'15-17':5 , '24-26':6}
nodeCaps = {'no':0 ,'yes':1 ,'?':2}
mama = {'left':0, 'right':1}
local = {'left_low':0, 'right_up':1, 'left_up':2, 'right_low':3, 'central':4, '?':5}
iradiado = {'no':0, 'yes':1}
df['Class'] = df['Class'].map(Class)
df['age'] = df['age'].map(idade)
df['menopause'] = df['menopause'].map(menopausa)
df['tumor-size'] = df['tumor-size'].map(tamanho)
df['inv-nodes'] = df['inv-nodes'].map(nodulos)
df['node-caps'] = df['node-caps'].map(nodeCaps)
df['breast'] = df['breast'].map(mama)
df['breast-quad'] = df['breast-quad'].map(local)
df['irradiat'] = df['irradiat'].map(iradiado)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [85]:
X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)

gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(gnb, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('breast cancer')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

   base de dados  score teste  score validacao
0  breast cancer     0.597222         0.674713

# Redes Neurais MLP para Breast cancer

In [95]:
nomes = ['Class', 'age', 'menopause', 'tumor-size', 'inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']
df = pd.read_csv('breast-cancer.data', names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

Class = {'recurrence-events':1, 'no-recurrence-events':0}
idade = {'20-29':0, '30-39':1, '40-49':2, '50-59':3, '60-69':4, '70-79':5}
menopausa = {'premeno':0 ,'ge40':1 ,'lt40':2}
tamanho = {'0-4':0, '5-9':1,'10-14':2, '15-19':3, '20-24':4, '25-29':5, '30-34':6, '35-39':7, '40-44':8, '45-49':9,  '50-54':10}
nodulos = {'0-2':0, '3-5':1 ,'6-8':2, '9-11':3 ,'12-14':4 ,'15-17':5 , '24-26':6}
nodeCaps = {'no':0 ,'yes':1 ,'?':2}
mama = {'left':0, 'right':1}
local = {'left_low':0, 'right_up':1, 'left_up':2, 'right_low':3, 'central':4, '?':5}
iradiado = {'no':0, 'yes':1}
df['Class'] = df['Class'].map(Class)
df['age'] = df['age'].map(idade)
df['menopause'] = df['menopause'].map(menopausa)
df['tumor-size'] = df['tumor-size'].map(tamanho)
df['inv-nodes'] = df['inv-nodes'].map(nodulos)
df['node-caps'] = df['node-caps'].map(nodeCaps)
df['breast'] = df['breast'].map(mama)
df['breast-quad'] = df['breast-quad'].map(local)
df['irradiat'] = df['irradiat'].map(iradiado)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [96]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)


#learning_rate_init = taca
#max_iter =epoca


resultados= {
'base de dados': [],
'TaxaDeAprendizado':[],
'epocas':[],
'score teste':[],
'score validacao' :[]
}

taxaDeAprendizado = [0.1, 0.9, 0.001]
epocas = [300,100, 50, 10]

for i in taxaDeAprendizado:
  for e in epocas:
    clf = MLPClassifier(random_state=None, max_iter=e, learning_rate_init = i).fit(X_train, y_train)
    scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
    y_pred = clf.predict(X_test)
    resultados['base de dados'].append('breast cancer')
    resultados['TaxaDeAprendizado'].append(i)
    resultados['epocas'].append(e)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

    base de dados  TaxaDeAprendizado  epocas  score teste  score validacao
0   breast cancer              0.100     300     0.680556         0.688990
1   breast cancer              0.100     100     0.722222         0.713370
2   breast cancer              0.100      50     0.763889         0.674713
3   breast cancer              0.100      10     0.694444         0.657169
4   breast cancer              0.900     300     0.694444         0.702783
5   breast cancer              0.900     100     0.694444         0.702783
6   breast cancer              0.900      50     0.694444         0.699335
7   breast cancer              0.900      10     0.694444         0.702783
8   breast cancer              0.001     300     0.722222         0.678282
9   breast cancer              0.001     100     0.763889         0.699274
10  breast cancer              0.001      50     0.722222         0.702783
11  breast cancer              0.001      10     0.513889         0.695765

## KNN Car Evaluation

In [ ]:
nomes = ['buying', 'maint', 'doors', 'persons', 'lug_boot','safety', "Class"]
df = pd.read_csv('car_evaluation.csv',index_col = False, names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

preco = {'vhigh':0, 'high':3, 'med':2, 'low':1}
manutencao = {'vhigh':0, 'high':3, 'med':2, 'low':1}
portas = {'2':0, '3':1,'4':2, '5more':3}
pessoas = {'2':0, '4':1, 'more':2}
tamanho = {'small':0,'med':1,'big':2}
seguranca = {'low':0, 'med':1, 'high':2}
classificacao ={'unacc':0,'acc':1, 'vgood':2, 'good':3}


df['buying'] = df['buying'].map(preco)
df['maint'] = df['maint'].map(manutencao)
df['doors'] = df['doors'].map(portas)
df['persons'] = df['persons'].map(pessoas)
df['lug_boot'] = df['lug_boot'].map(tamanho)
df['safety'] = df['safety'].map(seguranca)
df['Class'] = df['Class'].map(classificacao)

df

      buying  maint  doors  persons  lug_boot  safety  Class
0          0      0      0        0         0       0      0
1          0      0      0        0         0       1      0
2          0      0      0        0         0       2      0
3          0      0      0        0         1       0      0
4          0      0      0        0         1       1      0
...      ...    ...    ...      ...       ...     ...    ...
1723       1      1      3        2         1       1      3
1724       1      1      3        2         1       2      2
1725       1      1      3        2         2       0      0
1726       1      1      3        2         2       1      3
1727       1      1      3        2         2       2      2

[1728 rows x 7 columns]

In [ ]:
X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)
kValores = [1,3,5,7]

resultados= {
'base de dados': [],
'K':[],
'score teste':[],
'score validacao' :[]
}


for k in kValores:
    
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    scores_dt = cross_val_score(knn, X, y, scoring='accuracy', cv=4)
    y_pred = knn.predict(X_test)
    resultados['base de dados'].append('Car Evaluation')
    resultados['K'].append(k)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

    base de dados  K  score teste  score validacao
0  Car Evaluation  1     0.789352         0.647569
1  Car Evaluation  3     0.835648         0.720486
2  Car Evaluation  5     0.861111         0.697338
3  Car Evaluation  7     0.851852         0.701968

# Árvore decição para Car Evaluation

In [90]:
nomes = ['buying', 'maint', 'doors', 'persons', 'lug_boot','safety', "Class"]
df = pd.read_csv('car_evaluation.csv',index_col = False, names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

preco = {'vhigh':0, 'high':3, 'med':2, 'low':1}
manutencao = {'vhigh':0, 'high':3, 'med':2, 'low':1}
portas = {'2':0, '3':1,'4':2, '5more':3}
pessoas = {'2':0, '4':1, 'more':2}
tamanho = {'small':0,'med':1,'big':2}
seguranca = {'low':0, 'med':1, 'high':2}
classificacao ={'unacc':0,'acc':1, 'vgood':2, 'good':3}


df['buying'] = df['buying'].map(preco)
df['maint'] = df['maint'].map(manutencao)
df['doors'] = df['doors'].map(portas)
df['persons'] = df['persons'].map(pessoas)
df['lug_boot'] = df['lug_boot'].map(tamanho)
df['safety'] = df['safety'].map(seguranca)
df['Class'] = df['Class'].map(classificacao)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)


from sklearn import tree

  
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)




resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('Car Datar')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

  base de dados  score teste  score validacao
0     Car Datar     0.967593         0.755914

# Naive beyes para Car Evaluation

In [92]:
nomes = ['buying', 'maint', 'doors', 'persons', 'lug_boot','safety', "Class"]
df = pd.read_csv('car_evaluation.csv',index_col = False, names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

preco = {'vhigh':0, 'high':3, 'med':2, 'low':1}
manutencao = {'vhigh':0, 'high':3, 'med':2, 'low':1}
portas = {'2':0, '3':1,'4':2, '5more':3}
pessoas = {'2':0, '4':1, 'more':2}
tamanho = {'small':0,'med':1,'big':2}
seguranca = {'low':0, 'med':1, 'high':2}
classificacao ={'unacc':0,'acc':1, 'vgood':2, 'good':3}


df['buying'] = df['buying'].map(preco)
df['maint'] = df['maint'].map(manutencao)
df['doors'] = df['doors'].map(portas)
df['persons'] = df['persons'].map(pessoas)
df['lug_boot'] = df['lug_boot'].map(tamanho)
df['safety'] = df['safety'].map(seguranca)
df['Class'] = df['Class'].map(classificacao)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [94]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)

gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

resultados= {
'base de dados': [],
'score teste':[],
'score validacao' :[]
}


scores_dt = cross_val_score(gnb, X, y, scoring='accuracy', cv=5)
y_pred = clf.predict(X_test)
resultados['base de dados'].append('Car evaluation')
resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

    base de dados  score teste  score validacao
0  Car evaluation     0.967593         0.622114

# MLP para Car Data

In [97]:
nomes = ['buying', 'maint', 'doors', 'persons', 'lug_boot','safety', "Class"]
df = pd.read_csv('car_evaluation.csv',index_col = False, names = nomes)
df

#for categoria in nomes:
#  print(pd.unique(df[categoria]))

preco = {'vhigh':0, 'high':3, 'med':2, 'low':1}
manutencao = {'vhigh':0, 'high':3, 'med':2, 'low':1}
portas = {'2':0, '3':1,'4':2, '5more':3}
pessoas = {'2':0, '4':1, 'more':2}
tamanho = {'small':0,'med':1,'big':2}
seguranca = {'low':0, 'med':1, 'high':2}
classificacao ={'unacc':0,'acc':1, 'vgood':2, 'good':3}


df['buying'] = df['buying'].map(preco)
df['maint'] = df['maint'].map(manutencao)
df['doors'] = df['doors'].map(portas)
df['persons'] = df['persons'].map(pessoas)
df['lug_boot'] = df['lug_boot'].map(tamanho)
df['safety'] = df['safety'].map(seguranca)
df['Class'] = df['Class'].map(classificacao)

X = df[df.columns.difference(['Class'])].values
y = df['Class'].values

In [98]:
import warnings
warnings.filterwarnings('ignore')


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, train_size = 0.5, random_state=4)


#learning_rate_init = taca
#max_iter =epoca


resultados= {
'base de dados': [],
'TaxaDeAprendizado':[],
'epocas':[],
'score teste':[],
'score validacao' :[]
}

taxaDeAprendizado = [0.1, 0.9, 0.001]
epocas = [300,100, 50, 10]

for i in taxaDeAprendizado:
  for e in epocas:
    clf = MLPClassifier(random_state=None, max_iter=e, learning_rate_init = i).fit(X_train, y_train)
    scores_dt = cross_val_score(clf, X, y, scoring='accuracy', cv=5)
    y_pred = clf.predict(X_test)
    resultados['base de dados'].append('Car Evaluation')
    resultados['TaxaDeAprendizado'].append(i)
    resultados['epocas'].append(e)
    resultados['score teste'].append(metrics.accuracy_score(y_test, y_pred))
    resultados['score validacao'].append(scores_dt.mean())


df = pd.DataFrame(resultados)
df

     base de dados  TaxaDeAprendizado  epocas  score teste  score validacao
0   Car Evaluation              0.100     300     0.976852         0.806176
1   Car Evaluation              0.100     100     0.946759         0.803336
2   Car Evaluation              0.100      50     0.930556         0.784804
3   Car Evaluation              0.100      10     0.784722         0.747811
4   Car Evaluation              0.900     300     0.701389         0.684626
5   Car Evaluation              0.900     100     0.701389         0.700233
6   Car Evaluation              0.900      50     0.701389         0.700233
7   Car Evaluation              0.900      10     0.701389         0.700233
8   Car Evaluation              0.001     300     0.925926         0.799841
9   Car Evaluation              0.001     100     0.835648         0.766308
10  Car Evaluation              0.001      50     0.784722         0.742535
11  Car Evaluation              0.001      10     0.701389         0.703708